"DOOT"

<!--<div class='infobox'>"
            + "<img src='" + listings[i].image.gallery[u].url + "' /><br>" 
            + listings[i].address + " " + listings[i].street + " " + listings[i].city + " " + listings[i].state + " " + listings[i].zip 
            + "<br><a href='/listings/sale/" + listings[i].id + "'> More Info </a>"
            + " | "
            + "<form action='' method='POST'><input type='submit' value='Add to Favorites'></form>"
            + "</div>"-->