
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You have received a message on Housipus.com</h1>

    <p>
      You have received a message from <%= @user.email %><br>
    </p><hr>


    <p>To login to the site, just follow this link: <%= @url %>.</p>
  </body>
</html>