/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@media only screen and (max-width: 480px) {
    .mobilesignin{
        float:right;
        margin-top: .5em;
        margin-right: .5em;
    }
    .logo{
        width: 40px;
        height: 40px;
        display: inline-block;
        vertical-align: top;
        background-color: #0074E4;
        z-index: 2;
        margin-left: .5em;
    }
    .logo img{
        width: 35px;
        margin-left: .2em;
     
    }
    .links ul{
        display: none;
    }
    .footer{
        background-color: black;
        color: gray;
        height: 100px;
        width: 100%;
    }

    .footercontents{
        padding-top: 2em;
        margin: 0 auto;
    }
    .footercontents ul li{
        text-decoration: none;
        display: inline-block;
    }
     #map{
        height: 500px;
        width: 100%
    }
}

@media only screen and (min-width: 481px) {
    .mobilesignin{
        display: none;
    }

    #map{
        height: 80%;
        width: 100%
    }

    .searchwidget{
        display:inline-block;
        width:300px;
    }

    .logo{
        width: 80px;
        height: 80px;
        display: inline-block;
        vertical-align: top;
        background-color: #0074E4;
        margin-left: 3em;
        z-index: 2;
    }
    .logo img{
        width: 75px;
        padding: 5px;
        margin-left: 4px;
    }

    .links ul{
        display: none;
    }
    .links li{
        display: inline-block;
        font-size: 1.25em;
        padding-top: .4em;
        margin-right: 1em;
    }

    .links{
        height: 50px;
    }

    .footer{
        background-color: black;
        color: gray;
        height: 100px;
        width: 100%;
        padding-left: 75px;
        display: block;
    }

    .footercontents{
        height: 50px;
        padding-top: 2em;
        margin: 0 auto;
    }
    .footercontents ul li{
        text-decoration: none;
        display: inline-block;
    }
    #floating-panel{
        margin-top: 50px;
    }

    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
    }

    #floating-panel {
        position: absolute;
        top: 10px;
        left: 25%;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
        text-align: center;
        font-family: 'Roboto','sans-serif';
        line-height: 30px;
        padding-left: 10px;
    }

    .dropdown-menu form{
        margin: .5em;
    }

    .dropdown-menu input[type=text]{
        margin-bottom: .5em;
    }

    input.placholderedit::-webkit-input-placeholder { 
        font-size: 10pt;
    }

    .msgbadge{
        background: red;
        height:2.25rem;
        top:1rem;
        right:1.5rem;
        width:2.25rem;
        text-align: center;
        line-height: 2rem;;
        font-size: 1rem;
        border-radius: 50%;
        color:white;
        border:1px solid red;
        background-color: red;
        display: inline-block;
    }
    .msgbadge a:hover{
        color:white;
        text-decoration: none;
    }
    .msgbadge a{
        color:white;
        cursor:pointer;
    }
}

@media only screen and (min-width: 560px) {
    .mobilesignin{
        display: none;
    }
    .searchwidget{
        display:inline-block;
        width:300px;      
    }
    .logo{
        width: 80px;
        height: 80px;
        display: inline-block;
        vertical-align: top;
        background-color: #0074E4;
        margin-left: 3em;
        z-index: 2;
    }
    .logo img{
        width: 75px;
        padding: 5px;
        margin-left: 4px;
    }

    .links ul{
        display: inline-block;
        vertical-align: top;
    }
    .links li{
        display: inline-block;
        font-size: 1.25em;
        padding-top: .4em;
        margin-right: 1em;
    }

    .links{
        height: 50px;
    }

    .footer{
        background-color: black;
        color: gray;
        height: 100px;
        width: 100%;
        padding-left: 75px;
    }

    .footercontents{
        padding-top: 2em;
        margin: 0 auto;
    }
    #floating-panel{
        margin-top: 50px;
    }

    #map{
        height: 80%;
        width: 100%
    }

    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
    }

    #floating-panel {
        position: absolute;
        top: 10px;
        left: 25%;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
        text-align: center;
        font-family: 'Roboto','sans-serif';
        line-height: 30px;
        padding-left: 10px;
    }

    .dropdown-menu form{
        margin: .5em;
    }

    .dropdown-menu input[type=text]{
        margin-bottom: .5em;
    }

    input.placholderedit::-webkit-input-placeholder { 
        font-size: 10pt;
    }

    .msgbadge{
        background: red;
        height:2.25rem;
        top:1rem;
        right:1.5rem;
        width:2.25rem;
        text-align: center;
        line-height: 2rem;;
        font-size: 1rem;
        border-radius: 50%;
        color:white;
        border:1px solid red;
        background-color: red;
        display: inline-block;
    }
    .msgbadge a:hover{
        color:white;
        text-decoration: none;
    }
    .msgbadge a{
        color:white;
        cursor:pointer;
    }
}
@media only screen and (min-width: 800px) {
    .mobilesignin{
        display: none;
    }

    .searchwidget{
        display:inline-block;
        width:300px;  
    }

    .logo{
        width: 80px;
        height: 80px;
        display: inline-block;
        vertical-align: top;
        background-color: #0074E4;
        margin-left: 3em;
        z-index: 2;
    }
    .logo img{
        width: 75px;
        padding: 5px;
        margin-left: 4px;
    }

    .links ul{
        display: inline-block;
        vertical-align: top;
    }
    .links li{
        display: inline-block;
        font-size: 1.25em;
        padding-top: .4em;
        margin-right: 1em;
    }

    .links{
        height: 50px;
    }

    .footer{
        background-color: black;
        color: gray;
        height: 100px;
        width: 100%;
        padding-left: 75px;
    }

    .footercontents{
        width: 600px;
        padding-top: 2em;
        margin: 0 auto;
    }
    #floating-panel{
        margin-top: 50px;
    }

    #map{
        height: 80%;
        width: 60%;
    }

    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
    }

    #floating-panel {
        position: absolute;
        top: 10px;
        left: 25%;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
        text-align: center;
        font-family: 'Roboto','sans-serif';
        line-height: 30px;
        padding-left: 10px;
    }

    .dropdown-menu form{
        margin: .5em;
    }

    .dropdown-menu input[type=text]{
        margin-bottom: .5em;
    }

    input.placholderedit::-webkit-input-placeholder { 
        font-size: 10pt;
    }

    .msgbadge{
        background: red;
        height:2.25rem;
        top:1rem;
        right:1.5rem;
        width:2.25rem;
        text-align: center;
        line-height: 2rem;;
        font-size: 1rem;
        border-radius: 50%;
        color:white;
        border:1px solid red;
        background-color: red;
        display: inline-block;
    }
    .msgbadge a:hover{
        color:white;
        text-decoration: none;
    }
    .msgbadge a{
        color:white;
        cursor:pointer;
    }
}

@media only screen and (min-width: 1060px) {
    .mobilesignin{
        display: none;
    }

    .searchwidget{
        display:inline-block;
        width:300px;  
    }
    .logo{
        width: 80px;
        height: 80px;
        display: inline-block;
        vertical-align: top;
        background-color: #0074E4;
        margin-left: 3em;
        z-index: 2;
    }
    .logo img{
        width: 75px;
        padding: 5px;
        margin-left: 4px;
    }

    .links ul{
        display: inline-block;
        vertical-align: top;
    }
    .links li{
        display: inline-block;
        font-size: 1.25em;
        padding-top: .4em;
        margin-right: 1em;
    }

    .links{
        height: 50px;
    }

    .footer{
        background-color: black;
        color: gray;
        height: 100px;
        width: 100%;
        padding-left: 75px;
    }

    .footercontents{
        width: 600px;
        padding-top: 2em;
        margin: 0 auto;
    }
    #floating-panel{
        margin-top: 50px;
    }

    #map{
        height: 80%;
        width: 70%;
    }

    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
    }

    #floating-panel {
        position: absolute;
        top: 10px;
        left: 25%;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
        text-align: center;
        font-family: 'Roboto','sans-serif';
        line-height: 30px;
        padding-left: 10px;
    }

    .dropdown-menu form{
        margin: .5em;
    }

    .dropdown-menu input[type=text]{
        margin-bottom: .5em;
    }

    input.placholderedit::-webkit-input-placeholder { 
        font-size: 10pt;
    }

    .msgbadge{
        background: red;
        height:2.25rem;
        top:1rem;
        right:1.5rem;
        width:2.25rem;
        text-align: center;
        line-height: 2rem;;
        font-size: 1rem;
        border-radius: 50%;
        color:white;
        border:1px solid red;
        background-color: red;
        display: inline-block;
    }
    .msgbadge a:hover{
        color:white;
        text-decoration: none;
    }
    .msgbadge a{
        color:white;
        cursor:pointer;
    }
}