/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.logo{
    width: 80px;
    height: 80px;
    display: inline-block;
    vertical-align: top;
    background-color: #0074E4;
    margin-left: 1em;
    z-index: 2;
}
.logo img{
    width: 75px;
    padding: 5px;
    margin-left: 4px;
}

.links ul{
    display: inline-block;
    vertical-align: top;
}
.links li{
    display: inline-block;
    font-size: 1.25em;
    padding-top: .6em;
    margin-right: 1em;
}

.links{
    height: 50px;
}

.footer{
    background-color: black;
    color: gray;
    height: 100px;
    width: 100%;
    padding-left: 75px;
}

.footercontents{
    width: 600px;
    padding-top: 2em;
    margin: 0 auto;
}
#floating-panel{
    margin-top: 50px;
}
#map{
    height: 80%;
    width: 75%;
}