.signins{
    display: inline-block;
    vertical-align: top;
    width: 30%;
    margin-right: 3em;
    margin-top: 2em;
}
.signins input{
    margin-bottom: .5em;
}
.hero{
    width:100%;
    height: 450px;
    background:  linear-gradient(
      rgba(0, 0, 0, 0.45), 
      rgba(0, 0, 0, 0.45)
    ), url('hero.jpg'), no-repeat;

    background-size: cover;
    padding-left: 75px;
}

.form-inline input[type=text]{
    width: 450px;
}

.hero-search{
    width: 600px;
    margin: 0 auto;
    padding-top: 120px;
}

.hero-search label {
    float:left;
    color: white;
    width:170px;
    margin-right: 7px;
    margin-bottom: 1em;
    background: rgb(1, 1, 1);                   
    background: rgba(1, 1, 1, .5);
    border-radius:4px;
    border:1px solid #D0D0D0;
    overflow:auto;       
}

.hero-search label span {
    text-align:center;
    font-size: 32px;
    padding: 3px 0px;
    display:block;
}

.hero-search label input {
    position:absolute;
    top:-20px;
}

.hero-search input:checked + span {
    background-color:#0074E4;
    color:#F7F7F7;
}

.hero-search label:hover {
     background:#DDD;
     color: #0074E4
}

.hero-label{
    font-size: 3em;
    color: white;
}

.sub-hero{
    margin: 1em auto;
}

.shgroup{
    display: inline-block;
    margin: 0 4em;
}

.shgroup li{
    list-style-type: none;
    margin-left: -2.7em;
}

.sellform{
    float:right;
    margin-right: 3em;
}

.sellform label, input{
    display: block;
}

.sellform input{
    margin-bottom: .5em;
}
.infobox form{
    display: inline-block;
}
.infobox input[type=submit]{
    background:none!important;
    border:none; 
    padding:0!important;
    color: #337AB7;
    cursor:pointer;
}
.infobox input[type=submit]:hover{
    text-decoration:underline;
}
.listingdata{
    display: inline-block;
    vertical-align: top;
    width: 400px;
    margin-top: 2em;
}

.gallery{
    display: inline-block;
    vertical-align: top;
    max-width: 300px;
    margin-top: 2em;
}
.infobox img{
    width: 300px;
    margin-bottom: .5em;
}

.photoform{
    width: 400px;
    margin-top: 3em;
}
.photoform input{
    margin-bottom: .5em;
}

.buyfaves{
    float:right;
    margin-right: 3em;
    width: 275px;
    overflow-y: auto;
}
.favebox img{
    width: 100%;
}
.favebox p{
    margin-top: -65px;
    margin-left: .5em;
    color:white;
}
.favebox a{
    color: white;
}
.favebox a:hover{
    color:white;
}
.fillerimg{
    height: 185px;
    background:url('modelhome.png');
    background-size: 275px 250px;
    background-position: center;
    background-repeat: no-repeat;
}
.filterbar{
    width: 100%;
    height: 50px;
    padding-left: 130px;
    padding-top: 7px;
}
.filterbar input{
    display: inline-block; 
}
.updatebuy{
    width: 300px;
    display:inline-block;
    vertical-align:top;
    font-size:.8em;
    margin-bottom:0;
}
.updatebuy p {
    margin:0;
}
.updatebuy input[type=text]{
    width: 200px;
}